.container {
  height: 1324.97px;
  /* background-color: rgb(255, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 120px;
}
.container img {
  height: 81px;
  width: 80px;
}

.container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(5, 40, 146);
  font-size: 30px;
}

.gridList {
  /* background-color: green; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 45px 45px 60.7656px 45px 45.5625px 45px 45px 45px 47.8125px 45px;
  gap: 25px 0px;
}

.gridList div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */

  /* background-color: rgb(255, 255, 255); */
}

.gridList img {
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 65%;
}

.leftBorder {
  border-left: 1px solid rgba(51, 51, 51, 0.144);
}

.backedByContainer {
  position: absolute;
  bottom: 0px;
  /* background-color: aqua; */
  height: 323.83;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backedByContainer h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.backedByContainer img {
  height: 80px;
  width: 80px;
}

.backedByImages {
  /* background-color: rgba(255, 228, 196, 0.747); */
  height: 137.83px;
  gap: 25px 16px;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.backedByImages div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backedByImages img {
  height: auto;
  width: 75%;
}

.backedImageMiddle {
  grid-column: 2/3;
}
