.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 80px;

  /* background-color: red; */
}

.container h2 {
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(5, 40, 146);
  font-size: 30px;
  /* background-color: aquamarine; */
}
.logo {
  height: 80px;
  /* width: 80px; */
}

.contentBackgroundContainer {
  /* background-color: blue; */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.darkBackground {
  position: absolute;
  height: 100%;
  width: calc(100% - 80px);
  padding: 40px 0px;
  background-color: rgb(225, 229, 241);
}

.contentContainer {
  /* background-color: red; */
  display: none;
  z-index: +1;
  max-height: 526px;
  height: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.contentLeftContainer {
  /* background-color: aqua; */
  max-height: 442px;
  height: 452px;
  height: 100%;
  max-height: 100%;
  /* background-color: rgb(43, 255, 0); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  /* display: none; */
  max-width: 590px;
  min-width: calc(50% - 20px);
  min-width: calc(0px);
  /* height: 100%; */
  /* max-height: 446px; */

  z-index: +1;
}

.contentTextContainer {
  max-width: 510px;
  min-height: 173.781px;
  height: 100%;
  padding: 15px 40px;
  background-color: rgb(255, 255, 255);
}
.contentTextContainer h3 {
  color: rgb(5, 40, 146);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contentTextContainer p {
  line-height: 28.8px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contentTextContainer a {
  text-decoration: none;
  color: rgb(5, 40, 146);
  line-height: 26px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.card {
  padding: 0px 10px;
  max-width: 265px;
  width: 100%;
  height: inherit;

  min-height: calc(137px + 76px);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-column: 265px;
  grid-template-rows: 137px 36px; */
  /* background-color: rgb(197, 30, 30); */
}

.card h4 {
  line-height: 1.38em;
  /* opacity: 0.5; */
  cursor: pointer;
  font-size: 14px;
  color: rgb(5, 40, 146);
  min-height: 36px;
  height: 100%;
  /* width: 265px; */
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.card h5:hover {
  text-decoration: underline;
}
.smallImage {
  /* opacity: 0.5; */
  object-fit: cover;
  max-height: 137px;
  /* width: 265px; */
  width: 100%;

  height: auto;
}

/* -------------------------------------------------------------------------- */
.contentRightContainer {
  /* background-color: blue; */
  /* display: none; */
  max-width: 590px;
  min-width: calc(50% - 20px);
  /* max-height: 446px; */
  height: 100%;

  width: 100%;
  height: auto;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.contentRightImage {
  object-fit: cover;
  width: 100%;
  height: auto;
}
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 991px) {
  .container h2 {
    text-align: center;
  }
  .contentContainer {
    flex-direction: column-reverse;
    max-height: 100%;
    width: 100%;
  }

  .contentLeftContainer {
    /* margin-top: 10px; */
    width: 100%;
    max-width: 100%;
    padding: 0;
    min-width: none;
  }

  .contentRightContainer {
    padding: 0;
    min-width: none;
    max-width: 100%;
  }

  .contentTextContainer {
    /* max-width: 100%; */
    /* width: 100%; */
  }

  .card {
    padding: 0px 10px;
    max-width: 100%;
    width: 100%;
    min-height: calc(137px + 76px);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-column: 265px;
    grid-template-rows: 137px 36px; */
    /* background-color: rgb(197, 30, 30); */
  }
}

@media only screen and (max-width: 660px) {
  .cardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .smallImage {
    /* opacity: 0.5; */
    object-fit: cover;
    max-height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  .darkBackground {
    position: absolute;
    height: calc(100% - 80px);
    width: calc(100%);
    padding: 0px 20px;
    background-color: rgb(225, 229, 241);
  }
}

@media only screen and (max-width: 370px) {
  .contentLeftContainer {
    text-align: center;
  }
  .cardsContainer {
    flex-direction: column;
  }
  .card {
    padding: 0;
    text-align: center;
  }
  .darkBackground {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% + 20px);
    padding: 00px 0px;
    background-color: rgb(225, 229, 241);
  }
}
