.container {
  /* display: grid;
  grid-template-rows: 70px 1fr; */
  /* grid-template-columns: 1fr 1200px 1fr; */
}

.full {
  background-image: url("./images/background5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: rgb(243, 245, 250);
}

.content {
  grid-column: 2/3;
}
