.container {
  /* display: grid;
  grid-template-rows: 70px 1fr; */
  /* grid-template-columns: 1fr 1200px 1fr; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  background-color: rgb(243, 245, 250);
}

.full {
  width: 100vw;
  /* background-image: url("./images/background5.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: rgb(49, 49, 49); */
  z-index: +1;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(243, 245, 250);
  width: 100%;
  max-width: 1280px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 40px;
}
