.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.container h2 {
  margin-top: 20px;
  margin-bottom: 60px;
  color: rgb(5, 40, 146);
  font-size: 30px;
  text-align: center;
}

.backgroundAndContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  position: relative;
}

.darkContainer {
  height: 100%;
  background-color: rgb(225, 229, 241);
  width: calc(100% - 80px);
  position: absolute;
  padding: 40px 0px;
}

.contentContainer {
  z-index: +1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.leftDoc {
  margin-right: 20px;
  height: 100%;
  padding: 40px;
  max-width: 510px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.leftDoc h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.leftDoc p {
  margin-bottom: 20px;
  line-height: 29px;
}

.btn {
  cursor: pointer;
  font-weight: bold;
  color: rgb(5, 40, 146);
  font-size: 17px;

  padding: 0px 0px;
  margin-bottom: 30px;
  background-image: linear-gradient(90deg, #8bffbf, #4cbcfd);
  background-color: white;
  border: 2px solid rgb(5, 40, 146);
  transition: background-image 3s;
  display: flex;
  align-items: center;
}
.a {
  color: rgb(5, 40, 146);
  list-style: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 16px 20px;
  max-width: 132.25;

  height: 15px;
  transition: 0.2s ease-in-out;
}
.a:hover {
  background-color: rgba(255, 255, 255, 0);
}

.btnHover {
  animation: changeBackground 0.3s ease-in-out;
}

.mostPop {
  margin-bottom: 20px;
  font-size: 20px;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
}

.arrowViewCardContainer {
  margin-right: 0px;
  position: relative;
  cursor: pointer;
  max-width: 163px;
  min-width: 100px;
  display: flex;
  flex-wrap: wrap;

  height: 100%;
}
.darkContainerOnHover {
  position: relative;
  max-width: 163px;
  width: 100%;
  height: 78px;
}

.cardArrowContainer {
  position: relative;
}
.card {
  opacity: 1;
  position: relative;
  top: 0;
  max-width: 163px;
  width: 100%;
  min-height: 78px;
  transition: 0.2s ease-in-out;
}

.darken {
  filter: brightness(0.6);
}

.viewArrowContainer {
  display: flex;
  align-items: center;
  /* height: 14px; */

  position: absolute;
  bottom: 4px;
  right: 12px;

  color: white;
}
.viewArrowContainer p {
  margin: 0;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}
.view {
  margin: 0;
  padding-right: 10px;
  transition: 0.3s ease-in-out;
  font-size: 14px;
}

.viewMoveOver {
  transform: translateX(calc(-107.453px + 91px));
}
.viewArrowContainer p:hover {
  transform: translateX(calc(-107.453px + 91px));
}
.viewArrow {
}

/* -------------------------------------------------------------------------- */
.rightDoc {
  min-height: calc(556.984px + 0px);

  height: 100%;
  padding: 20px;

  height: 100%;
  width: 100%;
  background-color: rgb(238, 238, 238);

  display: flex;
  align-items: center;
}
.rightDoc img {
  height: 556.984px;
  object-fit: contain;
}

/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1170px) {
  .optionContainer {
    flex-direction: column;
  }
  .arrowViewCardContainer {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1140px) {
  .rightDoc {
    min-height: calc(556.984px + 6px);
  }
  .viewArrowContainer {
    bottom: 4px;
  }
}
@media only screen and (max-width: 1051px) {
  .rightDoc {
    min-height: calc(556.984px + 35px);
  }
  .viewArrowContainer {
    bottom: 8px;
  }
}
@media only screen and (max-width: 1015px) {
  .rightDoc {
    min-height: calc(556.984px + 35px);
  }
}

@media only screen and (max-width: 991px) {
  .arrowViewCardContainer {
    margin-bottom: 0px;
  }
  .optionContainer {
    flex-direction: initial;
  }
  .contentContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .leftDoc {
    margin-right: 0px;
    max-height: 516.984px;
    height: 100%;
    padding: 40px 40px;
    /* max-width: 100%; */
    /* width: calc(100% - 80px); */

    background-color: rgb(255, 255, 255);
  }
  .rightDoc {
    display: flex;
    justify-content: center;
    height: 556.984px;
    padding: 10px 0px;
    max-width: 100%;
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
  }
}

@media only screen and (max-width: 640px) {
  .rightDoc {
    transform: scale(1.05);
    min-height: calc(556.984px + 0px);
    min-height: 100%;

    height: 100%;
    padding: 10px;
    min-width: calc(50% - 50px);
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
  }
  .rightDoc img {
    width: 100%;
    transform: scale(1.05);
    height: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 560px) {
  .arrowViewCardContainer {
    margin-bottom: 5px;
  }
  .optionContainer {
    flex-direction: column;
    align-items: center;
  }
  .leftDoc {
    transform: scale(1.1);
    margin-right: 0px;
    max-height: 100%;
    height: 100%;

    padding: 80px 40px;
    padding-bottom: 20px;
    max-width: 100%;
    width: calc(100% - 80px);

    background-color: rgb(255, 255, 255);
  }
}
@media only screen and (max-width: 479px) {
  .arrowViewCardContainer {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .darkContainer {
    transform: scale(1.1);
    height: calc(100% - 140px);

    width: calc(100% + 20px);

    padding: 0px 0px;
  }

  .leftDoc {
    transform: scale(1.1);
    margin-right: 0px;
    max-height: 100%;
    height: 100%;

    padding: 80px 40px;
    padding-bottom: 20px;
    max-width: 100%;
    width: calc(100% - 80px);

    background-color: rgb(255, 255, 255);
  }

  .mostPop {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }

  .rightDoc {
    transform: scale(1.05);

    min-height: calc(556.984px + 0px);
    min-height: 100%;

    height: 100%;
    padding: 10px;
    min-width: calc(50% - 50px);
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
  }
  .rightDoc img {
    transform: scale(1.05);
    height: 100%;
    object-fit: contain;
  }
  .btn {
    font-size: 14px;
    width: 100%;
  }
  .a {
    padding: 16px 5px;
    max-width: 100%;
    width: 100%;
  }
}
