.container0 {
  margin: 50px 0px;
  min-height: 342px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  /* background-color: red; */
}

.container {
  /* background-color: #05920c; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 40px 0px;
}

.darkContainer {
  /* height: 278px; */
  background-color: rgb(225, 229, 241);
  /* background-color: rgb(12, 63, 218); */
  width: calc(100% - 80px);
  height: 100%;
  position: absolute;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  /* min-height: 342px; */

  /* display: none; */
}

.quoteListContainer {
  /* min-height: calc(342px - 64px); */
  max-height: 100%;
  display: flex;
  align-items: center;
  z-index: +1;
  position: relative;
}

.quoteList {
  max-width: 1120px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(191, 8, 228); */
  min-height: 118px;

  /* height: 118px; */
  /* height: 100%; */
  padding: 40px;
  display: flex;

  /* overflow: hidden; */
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1120px;
  min-width: 250px;
  min-height: 118px;
  height: 118px;
  /* height: 100%; */
  width: 100%;
  font-weight: 400;
  line-height: 26px;
  overflow: hidden;

  /* background-color: aqua; */
  /* opacity: 0.5; */
  /* color: white; */
}
.quoteActiveLeft {
  animation: slideinLeft 0.3s ease-in-out forwards;
}
.quoteActiveRight {
  animation: slideinRight 0.3s ease-in-out forwards;
}

.quoteDeactivated {
  display: none;
}

.quoteRecentlyDeactivatedLeft {
  color: black;
  opacity: 1;
  /* background-color: #e5e911; */
  position: absolute;
  padding: 40px 0px;
  /* height: calc(100% - 80px);
  width: calc(100% - 80px); */
  /* height: 100%; */
  /* height: inherit; */
  /* width: inherit; */
  width: calc(100% - 80px);
  top: 0;
  height: calc(100% - 80px);
  animation: slideoutLeft 0.3s ease-in-out forwards;
}
.quoteRecentlyDeactivatedRight {
  color: black;
  opacity: 1;
  /* background-color: #e5e911; */
  position: absolute;
  padding: 40px 0px;
  /* height: calc(100% - 80px);
  width: calc(100% - 80px); */
  /* height: 100%; */
  /* height: inherit; */
  /* width: inherit; */
  width: calc(100% - 80px);
  top: 0;
  height: calc(100% - 80px);
  animation: slideoutRight 0.3s ease-in-out forwards;
}

.quote {
  margin-bottom: 20px;
}

.personWorkContainer {
  display: flex;
}
.person {
  margin-right: 20px;
  font-weight: bolder;
}
.work {
}

.btn {
  height: 64px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  margin: 3px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #d6ddea;
  margin: 0px 3px;
}
.dot:hover {
  background-color: rgba(5, 40, 146, 0.4);
}
.activeDot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0px 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 2px #052892;
}

@keyframes slideinLeft {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slideinRight {
  from {
    transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
  }
}
@keyframes slideoutLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-150%);
  }
}
@keyframes slideoutRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(150%);
  }
}

@media only screen and (max-width: 830px) {
  .quoteContainer {
    max-width: 1120px;
    min-width: 250px;
    min-height: 118px;
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .quoteList {
    max-width: 1120px;
    width: 100%;

    /* background-color: rgb(191, 8, 228); */
    min-height: 118px;

    display: flex;

    overflow: hidden;
  }

  .quoteContainer {
    max-width: 1120px;
    min-width: 250px;
    min-height: 118px;
    height: 280px;
  }
}

@media only screen and (max-width: 479px) {
  .darkContainer {
    /* height: 278px; */
    background-color: rgb(225, 229, 241);
    /* background-color: rgb(12, 63, 218); */
    width: calc(100%);
    height: calc(100% - 140px);
    padding: 0px 20px;

    position: absolute;
  }
  .quoteRecentlyDeactivatedLeft {
    padding: 20px 0px;

    width: calc(100% - 40px);

    height: calc(100% - 40px);
  }
  .quoteRecentlyDeactivatedRight {
    padding: 20px 0px;

    width: calc(100% - 40px);

    height: calc(100% - 40px);
  }

  .quoteList {
    padding: 20px;

    overflow: hidden;
  }
  .quoteContainer {
    height: 340px;
  }
}

@media only screen and (max-width: 420px) {
  .container0 {
    transform: scaleY(1);
    transform: scaleX(1);
  }

  .quoteContainer {
    max-width: 1120px;
    min-width: 0px;
    min-height: 118px;
    height: 440px;
  }
  .quoteList {
    max-width: 1120px;
    width: 100%;

    /* background-color: rgb(191, 8, 228); */
    min-height: 118px;

    /* height: 118px; */
    /* height: 100%; */

    display: flex;

    /* overflow: hidden; */
  }
}
